<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="e0509">

  <!-- Args -->
  <xacro:arg name="mode"                default="virtual"/>   
  <xacro:arg name="color"               default="white"/>      
  <xacro:arg name="namespace"           default=""/>

  <!-- gripper control argument -->
  <xacro:arg name="gripper"             default="none"/>         <!-- none | robotique -->
  <xacro:arg name="gripper_prefix"      default=""/>             <!-- ex) dsr01_ -->
  <xacro:arg name="gripper_parent_link" default="link_6"/>

  <xacro:arg name="use_gazebo"          default="false"/>
  <xacro:arg name="host"                default=""/>
  <xacro:arg name="port"                default=""/>
  <xacro:arg name="rt_host"             default=""/>
  <xacro:arg name="mode"                default=""/>
  <xacro:arg name="model"               default=""/>
  <xacro:arg name="update_rate"         default=""/>

  <!-- Local properties -->
  <xacro:property name="cr"             value="$(arg color)"/>
  <xacro:property name="gr"             value="$(arg gripper)"/>
  <xacro:property name="gz"             value="$(arg use_gazebo)"/>
  <xacro:property name="host"           value="$(arg host)"/>
  <xacro:property name="rt_host"        value="$(arg rt_host)"/>
  <xacro:property name="port"           value="$(arg port)"/>
  <!-- <xacro:property name="mode"           value="$(arg mode)"/> -->
  <xacro:property name="model"          value="$(arg model)"/>
  <xacro:property name="update_rate"    value="$(arg update_rate)"/>


  <!-- Visual -->
  <xacro:if value="${cr == 'white'}">
    <xacro:include filename="$(find doosan_mini_project_cpp)/models/robot_arm/xacro/macro.e0509.white.xacro"/>
  </xacro:if>
  <xacro:if value="${cr == 'blue'}">
    <xacro:include filename="$(find doosan_mini_project_cpp)/models/robot_arm/xacro/macro.e0509.blue.xacro"/>
  </xacro:if>

  <xacro:e0509 namespace="$(arg namespace)"/>

  <!-- World -->
  <link name="world"/>
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child  link="base_link"/>
  </joint>

  <!-- Gazebo -->
  <!-- <xacro:if value="${gz}">
    <xacro:include filename="$(find doosan_mini_project_cpp)/ros2_control/e0509.gz_ros2_control.xacro"/>
    <xacro:e0509_gz_ros2_control 
      namespace="$(arg namespace)"
      update_rate="${update_rate}"
    />
  </xacro:if> -->
  <!-- Default ros2_control -->
  <!-- <xacro:unless value="${gz}">
    <xacro:include filename="$(find doosan_mini_project_cpp)/ros2_control/e0509.ros2_control.xacro" />
    <xacro:e0509_ros2_control
      name="e0509"
      host="${host}"
      rt_host="${rt_host}"
      port="${port}"
      mode="${mode}"
      model="${model}"
      update_rate="${update_rate}"
    />
  </xacro:unless> -->

  <xacro:if value="${gr == 'robotis_rh_p12_rn'}">

    <xacro:include filename="$(find doosan_mini_project_cpp)/models/gripper/xacro/robotis_rh_p12_rn.xacro"/>
    <xacro:robotis_rh_p12_rn
      parent="$(arg gripper_parent_link)"
      prefix="$(arg gripper_prefix)"/>

    <!-- <xacro:include filename="$(find doosan_mini_project_cpp)/models/gripper/xacro/robotis_rh_p12_rn.ros2_control.xacro"/>
      <xacro:robotiq_gripper_system
      mode="$(arg mode)"
      joint_name="$(arg gripper_prefix)robotiq_85_left_knuckle_joint"
      system_name="$(arg gripper_prefix)robotiq_gripper_system"
      pos_min="0.0"
      pos_max="0.8"
      init_pos="0.0"
      speed_mult="1.0"
      force_mult="0.5"
      max_speed="0.150"
      max_force="235.0"
      mock_sensor_commands="true" /> -->

  </xacro:if>

</robot>
